body {
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

img {
    width: 250px;
    height: 250px;
}

.produto {
    background-color: #000000;
}